{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container mx-auto w-50 border border-primary rounded mt-3 p-4 shadow p-3 mb-5 bg-body-tertiary rounded">
    <h1 class="text-center my-3 text-secondary ">Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {
        attr: {
            novalidate : 'novalidate'
        }
    }) }}
        <div class="row"> 
            <div class="col-6">{{ form_row(registrationForm.nom, {
                label: "Nom"
            }) }}</div>
            <div class="col-6">{{ form_row(registrationForm.civilite, {
                label: "Civilité"
            }) }}</div>
            
            <div class="col-12">{{ form_row(registrationForm.prenom, {
                label: "Prénom"
            }) }}</div>
            <div class="col-6">{{ form_row(registrationForm.pseudo, {
                label: "Pseudo"
            }) }}</div>
            <div class="col-6">{{ form_row(registrationForm.email, {
                label: "Email"
            }) }}</div>
            <div class="col-6">{{ form_row(registrationForm.plainPassword, {
                label: "Mot de passe"
            }) }}</div>
        
           
        </div>
        {# {{ form_row(registrationForm.email) }} #}
        {# {{ form_row(registrationForm.plainPassword) }} #}
        {# {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btn btn-secondary col-12 border-dark p-2 ">Valider votre Inscription</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
